<div id="my-expansion-panel">
  <div id="my-expansion-panel-header">
    <h2>Some links to help you start: </h2>
    <button (click)="toggle()">Toggle</button>
  </div>
  <div [@expandCollapse]="state" id="my-expansion-panel-content">
    <ul>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
      </li>
      <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
      </li>
    </ul>
  </div>
</div>
