#my-expansion-panel {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0px 1px 3px #888888;
    color: rgba(0,0,0,.87);
    padding: 0 10px;
    #my-expansion-panel-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            height: 30px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
    #my-expansion-panel-content{
        overflow: hidden;
    }
}
